/* Adding font CSS code */


@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Azeret Mono", monospace;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Nav section */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}

.nav-text {
    width: 50%;
    margin-left: 75px;

}

.nav-text h1 {
    font-size: 35px;
}

.nav-resume {
    width: 228px;
    height: 58px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    margin-bottom: 20px;
}

.nav-resume button {
    width: 100%;
    height: 100%;
    color: rgb(13, 19, 33);
    background-color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* Header Section CSS */
.header-section {
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.header-image {
    width: 320px;
    height: 320px;
    margin-top: 26px;

}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 15px;
}

.header-text h2 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.header-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 266px;
    height: 66px;
    background: rgb(13, 19, 33);
}

.header-contact a {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    margin-top: 35px;
    cursor: pointer;
    text-decoration: none;
    padding: 0 10px;
}

/* Why Web Development section style */

.web-dev-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
    margin: 0 auto;
    margin-top: 10px;
    background: rgba(13, 19, 33, 0.02);
}

.web-dev-section-container {
    width: 90%;
    margin: 80px 97px;
}

.web-dev-text {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.web-dev-text h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
}

.web-dev-text p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
}

.web-dev-image {
    width: 90%;
    margin: 40px;
    margin: 0 auto;
    display: flex;
}

.web-dev-image1-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    gap: 20px;
}

.web-dev-image1-image {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-right: 30px;
}

.web-dev-image2-image {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;

}

.web-dev-image2-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
    gap: 20px;
}

.heading {
    font-size: 32px;
    font-weight: 700;
}

.details {
    font-size: 16px;
    font-weight: 400;
}

.learn-more-button {
    width: 150px;
    height: 48px;
    border: 2px solid rgb(13, 19, 33);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px 20px;
}

.web-dev-image .learn-more-button {
    margin-right: 580px;
}

.learn-more-button a {
    text-decoration: none;
    color: rgb(13, 19, 33);
    font-size: 15px;
    font-weight: 600;
}


/* My inspriration Section */
.my-inspirration-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    background: rgba(13, 19, 33, 0.02);
}

.my-inspirration-section-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.inspiration-text {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 10px;
    gap: 20px;
}

.inspiration-source {
    width: 100%;
    height: 614px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inspiration-source iframe {
    width: 100%;
    height: 100%;
}

/* My target Section */
.current-target-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    background: rgba(13, 19, 33, 0.02);
}

.current-target-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;
}

.target-text {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
}
.target-link a{
    color: rgb(13, 19, 33);
    font-size: 15px;
   
}

.target-tech {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.target-html {
    width: 33%;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.target-css {
    width: 33%;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.target-js {
    width: 33%;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

/* Next Target Section */
.next-target-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    background: rgba(13, 19, 33, 0.02);

}
.next-target-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}
.next-target-text{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
}
.next-target-tech{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
}
.tecch{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.target-image{
    width: 15%;
    padding: 20px;
}
.target-text{
    width: 85%;
    gap: 20px;
}
.target-text .target-link a{
    color: rgb(13, 19, 33);
    font-size: 15px;
    margin-right: 975px;
}

/* Support Section */
.support-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    background: rgba(13, 19, 33, 0.02);
}

.support-section-container {
    width: 90%;
    background-image: linear-gradient(0deg,
            rgb(16, 16, 16) -19.5%,
            rgba(16, 16, 16, 0) 100%), url(../assets/handshake.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.support-text {
    color: rgb(255, 255, 255);
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
}

.suggest-submit {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
}

.suggest-text input {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 20px;
    font-size: 16px;
    font-weight: 400;
}

.suggest-submit button {
    width: 150px;
    height: 64px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

/* Footer Section */
#footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    background: rgba(13, 19, 33, 0.02);
}

.footer-section-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    width: 50%;
    margin-left: 100px;
}

.footer-social-media {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 40px;
}